[2014-03-28 22:03] creswick opened #1 "Going "back" from a WizardPage that set "Finish" to be enabled does not disable Finish"
_From [cresw...@gmail.com](https://code.google.com/u/104677812953833386554/) on June 30, 2008 21:09:45_

Reproduction:
1. Run a Wizard through to a final page (eg: Page 3 in WizardTest)
2. Step Back once the Finish button is enabled.
3. Notice that the Finish button is enabled on a page where it was
previously disabled.
4. Note that this remains the case if a different branch is taken.

The "Finis

[2014-03-28 22:03] creswick opened #2 "No easy way to update the page title without changing WizardPages."
_From [cresw...@gmail.com](https://code.google.com/u/104677812953833386554/) on July 14, 2008 09:56:55_

The WizardController API doesn't expose any means of changing the page
title as displayed in the PageTemplate, or on any surrounding "chrome" (for
example, on the dialog window border.)

One solution is to add a `titleChanged(String newTitle)` event to the
!WizardListener interface, and a `setT

[2014-03-28 22:03] creswick opened #3 "Dependency on Apache Commons Logging"
_From [Kissa...@gmail.com](https://code.google.com/u/106643232835441602005/) on November 16, 2010 03:01:30_

cjwizard depends on org.apache.commons.logging.LogFactory which is pretty bad for a wizard library which could otherwise be used in a variety of projects not using apache commons logging.

Thus, logging should be dropped (it’s debug only anyway) or made optional.

_Original issue: http://co

[2014-03-28 22:03] creswick opened #4 "WizardPage._controller is private"
_From [Kissa...@gmail.com](https://code.google.com/u/106643232835441602005/) on January 11, 2011 16:37:09_

I can not programmatically move to the next page. Why is _controller private, and not protected in WizardPage?
Being protected it would allow further accessing the controller functions from a wizard page (inheriting WizardPage).

_Original issue: http://code.google.com/p/cjwizard/issues/deta

[2014-03-28 22:03] creswick opened #5 "No Taskbar item"
_From [Kissa...@gmail.com](https://code.google.com/u/106643232835441602005/) on February 17, 2011 03:12:39_

By default the wizard does not add a taskbar item.
It should though IMO.
At least there should be an option to do so.

_Original issue: http://code.google.com/p/cjwizard/issues/detail?id=5_

[2014-03-28 22:03] creswick opened #6 "How to become a committer?"
_From [st...@lobosstudios.com](https://code.google.com/u/112524841151132171858/) on March 21, 2011 09:07:54_

Hi there,

I just found this project. I've used http://wizard.dev.java.net before, but I don't like the NetBeans-style UI, and at any rate, Oracle has rendered java.net completely unusable...

cjwizard is simple. I like that.

I'd like to help with this project. The concept is great, the i

[2014-03-28 22:03] creswick opened #7 "validation before "next" and "finish""
_From [McSe...@gmail.com](https://code.google.com/u/105240322962189817297/) on May 15, 2011 09:19:37_

There's no easy way to prevent user from moving onto next page.

I suggest implementing validation functional in WizardPage:

[code]

_Original issue: http://code.google.com/p/cjwizard/issues/detail?id=7_

[2014-03-28 22:03] creswick opened #8 "updateSettings not called when finish is pressed"
_From [norma...@googlemail.com](https://code.google.com/u/117318726111542676059/) on June 10, 2011 10:51:35_

It seems to be called only if the user presses next. Shouldn't it also be called when the user presses finish?

_Original issue: http://code.google.com/p/cjwizard/issues/detail?id=8_

[2014-03-28 22:03] creswick opened #9 "Access to Buttons in WizardContainer would be useful"
_From [cscha...@gmail.com](https://code.google.com/u/117318641114575472364/) on June 16, 2011 17:41:58_

In order to add accelerators and such to the 4 buttons in a WizardContainer (Finish, Cancel, Previous and Next), or to contextually change their text, I had to traverse the Swing container hierarchy and match them by finding JButton's whose actions have the right names. This is less than optima

[2014-03-28 22:03] creswick opened #10 "How to localize a wizard (especially the buttons)?"
_From [thilopl...@googlemail.com](https://code.google.com/u/117235970602675925417/) on January 29, 2013 20:18:27_

How does one go about providing different localizations for the UI elements created by CJWizard (which is probably just the buttons)? Issue #9 might be related.

_Original issue: http://code.google.com/p/cjwizard/issues/detail?id=10_

[2014-03-28 22:03] creswick opened #11 "How to programmatically trigger "Next" or "Finish"?"
_From [thilopl...@googlemail.com](https://code.google.com/u/117235970602675925417/) on March 24, 2013 23:00:10_

I have a screen with a couple of JToggleButton that decide what the next step will be. Instead of pressing one of them and then "Next", I'd like to go to the next page directly when those buttons have been clicked.

How can I programmatically trigger "Next" or "Finish"? Issue #9 might b

[2014-03-28 22:03] creswick opened #12 "Enable a distributed source control on google code"
_From [PhoneixS...@gmail.com](https://code.google.com/u/117293914174499740588/) on October 09, 2013 03:52:12_

It could be very good to have the repository of code in a Distributed Source Control so other people can collaborate more easily in the project.

You have many alternatives and Google Code admit Mercurial and Git. Both are very good (my personal preference is mercurial).

If you put your

[2014-03-28 22:03] creswick opened #13 "Change next page based on settings"
_From [PhoneixS...@gmail.com](https://code.google.com/u/117293914174499740588/) on March 28, 2014 03:44:18_

What steps will reproduce the problem?
1. Create 3 pages. And in page factory create second page to display based on a setting that is selected int step 1.
2. Start the wizard.
3. Make an election in step 1 and click next.
4. You will see page 2 (for example).
5. Click back.
6. Change the s

[2014-03-31 15:18] #12 closed, assigned to nobody

[2014-09-26 17:08] abstratt opened #14 "make it available from a Maven repo"
Consider making this project available from a Maven repo.

[2014-10-01 21:17] #13 closed, assigned to nobody

[2014-10-13 15:13] #8 closed, assigned to nobody

[2014-10-13 15:13] #7 closed, assigned to nobody

[2014-10-14 15:14] PhoneixS opened #20 "Share PageTemplate with a list of pages on the left"
A custom PageTemplate that add a list of pages on the left is show in the Readme.md. Can you share it?

It is a very nice template and could be very useful to the users of cjwizard.

[2014-10-15 16:00] #6 closed, assigned to nobody

[2014-10-24 18:12] #20 closed, assigned to nobody

[2014-10-29 15:45] PhoneixS opened #23 "Disable cancel method"
We have:

      setPrevEnabled(boolean);
      setNextEnabled(boolean);
      setFinishEnabled(boolean);

Is it a good idea to add setCancelEnabled?

Some process can't be cancelled when they start, so a page may disable all buttons until it finish this not-to-be-cancel process. It isn't a good practice to have a process that can't be cancelled, but sometimes you can't avoid it, so it is needed.

[2014-12-05 08:16] PhoneixS opened #25 "Add commit method to WizardSettings"
Now, we have a rollBack() methos in WizardSettings interface.

I think that we can also have a commit() method. For example if a page have an action that must be done only once, when you have done it you add a new settings value and commit the changes so although he goes back immediately after the action have been done and then forward again, you can know that the action is already done.

Is this

[2014-12-09 11:50] #10 closed, assigned to nobody

[2014-12-09 12:07] #1 closed, assigned to nobody

[2014-12-15 09:04] #25 closed, assigned to PhoneixS

[2015-01-27 17:34] #23 closed

[2015-01-27 17:50] PhoneixS commented on #14
Only to keep it in mind, slf4j have a tool to help converting to its format. It can be found in http://www.slf4j.org/migrator.html.

[2015-02-12 14:06] guerda commented on #14
Availability via Maven would be huge plus. I could support you in the transition phase and for testing purposes.

[2015-02-13 12:20] guerda commented on #14
I forked this repo and without the log4j/commons-logging discussion, this project is ready for maven. I tested it against my own project.
Propably, you want to have a look at my branch/pull-request. It was very little work, so it could be merged easily without being dependent on #3.

[2015-02-17 11:45] PhoneixS commented on #14
Ok, thank you for your effort. When I have more time I will test it and merge to the trunk.

[2015-03-02 19:01] creswick commented on #14
Great!

Thanks Philip.

On Tue, Feb 17, 2015 at 3:45 AM, Javier Alfonso <notifications@github.com>
wrote:

[2015-03-02 19:04] creswick commented on #14
Gah, Github seems to be doing odd things with my comment edit.  To be clear:

@PhoneixS The pull request looks good to me -- I'd suggest merging it if you don't have objections.  +1 for travis integration, too.

[2015-03-02 19:12] guerda commented on #14
Cool! I look into the maven publishing, too.

[2015-03-03 09:31] PhoneixS commented on #14
Done, I have merged it.

I think that @creswick must add the project to travis as is the one with enough privileges in github.com/creswick/cjwizard repository (read more about it in http://docs.travis-ci.com/user/getting-started/) so the official repository is checked instead of Guerda's repository.

Also to be noted is that the project use maven but it isn't "mavenized" as the layout is the old l

[2015-03-03 11:13] guerda commented on #14
Thanks for the merge!
Regarding the standard layout for Maven projects: I wanted to create a running project which builds in Travis successfully before refactoring the source folder layout.
I will do this in a later pull request.
Regarding Travis CI: You are correct, the Travis webhook must be activated by the repo owner. Then the README.md must be updated. I cannot do this via a pull request.

[2015-03-03 14:04] guerda commented on #14
Here's the PR: #30

[2015-03-04 07:57] guerda commented on #14
Here are some basic information how to publish to OSSRH and then to Maven Central: http://central.sonatype.org/pages/ossrh-guide.html

Some of the requirements for the deployment:
* correct information (GAV)
* developer information including urls
* scm information
* GPG signed artifacts
* correct artifact naming
* JIRA ticket for Maven central

[2015-03-04 21:17] creswick commented on #14
Merged the PR, and updated the travis url to point to my travis account's build (which I also just enabled).

I'm not sure when I can work through the OSSRH details; probably not this week, but I'll try to do so as soon as possible (possibly this weekend; the 7-8th).  If there are infrastructure details, such as generating signed releases, that you (@guerda or @PhoneixS) could help with, that'd be

[2015-03-04 21:24] creswick commented on #14
Here's the OSSRH ticket:

https://issues.sonatype.org/browse/OSSRH-14241

[2015-03-04 21:44] guerda commented on #14
@creswick I'm currently working on the correct format for the release plugin, so yet another PR will come soon. You just need a GPG key pair to perform the task afterwards.

[2015-03-04 22:09] guerda commented on #14
#31 contains GPG signing, License information, sources jar inclusion and developer information. Should be all to release on OSSRH. Have fun!

[2015-03-05 19:59] creswick commented on #14
Thanks!

So, unfortunately, my domain registration lapsed, and I don't have ciscavate.org anymore.  It looks like I might be able to get it back, but we may need to change the package/group prefix before the package will be accepted.

[2015-03-11 17:18] PhoneixS commented on #14
It is a big change but I think that it is necessary. And maybe is good to make an official organization in github (can be also called cjwizard) so you can use com.github.cjwizard as package an translate the "oficial" repository to that organization.

[2015-03-11 22:25] creswick commented on #14
The github organization sounds good to me.  I've created one and forked the repo over there.

Does anyone know if it's possible to move the tickets? https://github.com/cjwizard/cjwizard

[2015-03-12 08:28] PhoneixS commented on #14
@creswick you don't need to fork it, you must transfer the owner of the repository to the group. This way issues and other things are also transferred.

I have deleted the fork so you can transfer it without conflict.

[2015-03-12 15:57] creswick commented on #14
Thanks!

[2015-03-12 19:10] creswick commented on #14
I created a branch for the refactor, switching the groupId to 'com.github.cjwizard', updating the metadata in the pom.xml, and changing the 'org.ciscavate' prefix to 'com.github.cjwizard' in the packages.

The branch is here: https://github.com/cjwizard/cjwizard/tree/githubGroupId

Could you folks (@PhoneixS and @guerda) try that branch and let me know if I broke anything? The tests pass, but I'm

[2015-03-13 08:20] PhoneixS commented on #14
Yes I also think that is better to increase to 1 because it had changed the layout and many other things.

[2015-03-13 08:24] PhoneixS commented on #14
Also you need to change the Travis CI repository so it point to the correct repository (although it is running now by redirect of github).

[2015-03-14 18:42] creswick commented on #14
Bumped version to 1.0.0-snapshot.

I think I'm waiting on Travis to see the cjwizard org (I did just authorize access) before I can update / create a new travis job.

[2015-03-15 10:56] guerda commented on #14
@creswick  For me, it looks fine. We should definitely work on the unit tests, but that's a second step, imho. I think you can merge it to master and publish a new release 1.0.

[2015-03-16 10:50] PhoneixS commented on #14
As it is already merged I've just updated the Travis CI repository to the new organization repository (https://travis-ci.org/cjwizard/cjwizard).

[2015-03-16 11:02] PhoneixS opened #33 "Unespecified version for plugin maven-source-plugin in the pom.xml"
The Travis CI have a warning (show bellow) telling that we haven't specified the version of maven-source-plugin. What version we used so we can fix it?

[code]

[2015-03-16 13:54] guerda commented on #33
Hm, interesting. Yes, Maven uses the source plugin because of the build properties. A added the maven-source-plugin with version into the pom, see branch bug-33. https://github.com/cjwizard/cjwizard/blob/bug-33/ Should build on Travis right now.

[2015-03-16 15:33] PhoneixS commented on #33
Can be the version added into the already existing maven-source-plugin?

[2015-03-16 16:21] PhoneixS commented on #33
He puesto la version en el plugin que ya teníamos.

[2015-03-16 16:21] #33 closed

[2015-04-03 21:57] boformer commented on #14
Any news on this?

[2015-04-06 10:55] PhoneixS opened #35 "First release to sonatype"
I think is time to release to the maven repository as the ticket that was opened (https://issues.sonatype.org/browse/OSSRH-14241) was closed as Fixed.

This have to be done by @creswick as I think is who have the rights to do it. You can see how to do it with http://central.sonatype.org/pages/releasing-the-deployment.html.

This is needed to close #14 finally.

[2015-04-06 16:16] creswick commented on #14
I had some issues with the maven package commands, and may need help getting that straightened out, but I haven't had time to sit down and write up a ticket.

[2015-04-07 15:42] guerda commented on #35
@creswick Please tell me about the package problems you mentioned in #14. I used in on my pc and it worked fine.

[2015-04-08 15:44] creswick commented on #35
@guerda I'm having trouble finding the (2?) maven commands to create the release now (they're in a ticket or PR, but I've lost track of which one).

When I ran those, the first step failed part way through, but it *was* able to tag the release (and pushed that to github...) It failed during some of the signing process because I didn't have that set up locally, and it didn't seem to recover properl

[2015-04-09 07:46] guerda commented on #35
mvn release:prepare prepares the release in that way that the tag is created in SCM and your pom is ready for the next version. If you want to test the preparation without tagging the version in SCM, you can append -DdryRun=true. [More details on mvn release:prepare](https://maven.apache.org/maven-release/maven-release-plugin/prepare-mojo.html)
mvn release:perform then builds the artifact from the

[2015-04-09 15:59] creswick commented on #35
Thanks!  I'm still having issues, though.  It may be easiest to just bump to 1.0.1-SNAPSHOT and release that...

Here's what happens, using master from the github repo:

`mvn release:prepare` fails because no SNAPSHOT version is set.

[code]

`mvn release:rollback` fails because there is no pom.xml.releaseBackup (I don't have the workspace at hand where I started the process, I might be able to ge

[2015-04-17 00:06] creswick commented on #35
Ok, I restored the old repo workspace I was on, deleted the tag, and got through `mvn release:prepare` (after a rollback) without problems, but `mvn release:perform` failed:

[code]

[2015-04-17 00:34] creswick commented on #35
Ok, I *think* I did a snapshot deployment with `mvn clean deploy`, but I'm out of time today.  I'm working through this document still: http://central.sonatype.org/pages/ossrh-guide.html

[2015-04-17 07:48] guerda commented on #35
I'm not sure that you have to specify the developerConnection via -DconnectionUrl= because it should be defined correctly in the pom.xml.
Did you call mvn release:perform without any arguments?

[2015-04-17 18:46] creswick commented on #35
I did -- this is the error I see:

'''
[INFO] [ERROR] Failed to execute goal org.apache.maven.plugins:maven-deploy-plugin:2.7:deploy (default-deploy) on project cjwizard: Deployment failed: repository element was not specified in the POM inside distributionManagement element or in -DaltDeploymentRepository=id::layout::url parameter -> [Help 1]
'''

[2015-05-01 15:35] creswick commented on #35
@guerda @PhoneixS I think one of you folks should take this over fully, so I'm not a bottle neck anymore. I can make one / both of you admins for the github organization -- is there anything else I need to do so that you can handle the maven integration and etc..?

[2015-05-04 14:12] PhoneixS commented on #35
I'm too busy in the work now but I can try it in June. Anyway I think that @guerda has more experience with this than me (that I have 0 experience with maven), so he should take it (if he want to).

[2015-05-06 08:59] guerda commented on #35
I will try and look into it. I cannot say anything definitely yet. I will try :)

[2016-02-23 22:29] stevesobol commented on #5
I'm wondering why a taskbar item would be needed, since (presumably) the program displaying the wizard would have its own taskbar button. I'm also not sure this is a bug.

[2016-02-24 04:07] #5 closed, assigned to nobody

[2016-08-04 12:00] Petikoch commented on #14
Hmmm... this is still open :-(

It seems that you had some issues to bring it to "maven central"? As workaround... publishing it to Bintray (a competitor repo) is IMO simpler... Check out e.g. https://blog.bintray.com/2015/09/17/publishing-your-maven-project-to-bintray/

Best regards,
Peti

[2016-08-10 22:35] creswick commented on #14
@Petikoch I had some issues with the maven process; rooted in my general lack of time to dedicate to this project :(

I'm happy to help transition if anyone else is interested and willing to take over as maintainer!

[2016-08-10 22:53] creswick commented on #14
@Petikoch Bintray doesn't seem to be working for me, unfortunately.  Any suggestions on this failure?

[code]

[2016-08-11 07:40] Petikoch commented on #14
@creswick , I don't know what's the source of the problem above.

Maybe there is an issue with the repo ID? According to the Bintray UserManual https://bintray.com/docs/usermanual/formats/formats_mavenrepositories.html#anchorMavenDeploy it has the form _bintray-[YOUR_USERNAME]-[REPOSITORY_NAME]_

Therefore the section in the pom.xml should probably look like

    <distributionManagement>
      <re

[2016-08-11 07:43] Petikoch commented on #14
@creswick

After the sucessful publishing to Bintray, you can manually add your package to "JCenter" (https://bintray.com/bintray/jcenter). Bintray "JCenter" is something like maven central.

[2016-08-11 17:36] creswick commented on #14
@Petikoch Thanks - the repository ID is documented as an arbitrary string; it just needs to match the corresponding authentication section in my Maven settings.xml (which is obviously not published).

I did change that, and it may have helped.  The other thing that I didn't realize is that you can't upload SNAPSHOT versions, so changing to 1.0.4 seems to have worked (although the deploy command *d

[2016-08-12 11:49] Petikoch commented on #14
@creswick , can you add it to jcenter? https://bintray.com/bintray/jcenter ("Include my package")

Usually people use either maven-central or jcenter or both.

Congrats for the release!

Best regards,
Peti

[2016-08-12 19:38] creswick commented on #14
That *should* be underway now... I've had a number of failures with mvn
deploy, but I think that finally worked (on v. 1.0.5) Hopefully it'll be
transitioned to JCenter soon. (I just filed another request.)

On Fri, Aug 12, 2016 at 4:49 AM Peti Koch <notifications@github.com> wrote:

[2016-08-16 06:01] Petikoch commented on #14
Hi @creswick,

congrats, it's in Bintray's jcenter!

Best regards,
Peti

[2016-08-16 11:25] Petikoch opened #38 "Caused by: java.util.MissingResourceException: Can't find bundle for base name com.github.cjwizard.i18n.cjwizard, locale de_CH (Version 1.0.5)"
I just tried to integrate the released 1.0.5 Version...

At runtime, I get

    Caused by: java.util.MissingResourceException: Can't find bundle for base name com.github.cjwizard.i18n.cjwizard, locale de_CH
    	at java.util.ResourceBundle.throwMissingResourceException(ResourceBundle.java:1564)
    	at java.util.ResourceBundle.getBundleImpl(ResourceBundle.java:1387)
    	at java.util.ResourceBundl

[2016-08-16 15:28] creswick opened #39 "Create sample project for testing and demonstrations."
Issue #38 revealed how bad our current testing is.  One thing we could do to help is to build a minimal sample project (adapting the quickstart?) and put it in the repo (perhaps in a `samples` directory).

Ideally, that would be built and run, using the latest version in target, before each deploy.  I expect that that will require some interesting scripting / maven magic to happen in a nice seamle

[2016-08-16 15:29] creswick commented on #38
ugh, that's embarrassing!

I've moved the properties files into 'resources', and they appear to be in the jar now.  version 1.0.6 is on jcenter.

Could you try that and close this if it's working?

I've also opened #39 so I don't forget to set up a sample project that will help test for this sort of failure in the future.

Thanks!

[2016-08-17 07:40] Petikoch commented on #38
Thanks @creswick for fixing! Works with 1.0.6.

I successfully switched from an "old" 0.2 Version to the new public 1.0.6 Version.

Thanks for creating and sharing CJWizard!

Best regards from Switzerland,
Peti

[2016-08-17 07:40] #38 closed

[2016-08-17 07:42] Petikoch commented on #14
I think this issue could be closed now...

[2016-08-17 07:49] Petikoch commented on #3
I agree on this one. It's better if a library has no dependencies at all...

For all Slf4J-Users out there like me... there's an easy workaround to get rid of this issue. Just add `jcl-over-slf4j` explicitly as dependency and remove the `commons-logging` and `log4j` dependencies.

For more details see http://www.slf4j.org/legacy.html.

[2016-08-17 08:13] Petikoch opened #40 "Proposoal of "better" values for cjwizard_de.properties"
Current values:

    PREVIOUS=Zuruck
    NEXT=Nachste
    FINISH=Fertig
    CANCEL=Cancel

"Better" values:

    PREVIOUS=< Zurück
    NEXT=Weiter >
    FINISH=Fertig
    CANCEL=Abbrechen

Best regards,
Peti

[2016-08-17 17:37] creswick commented on #38
@Petikoch Thanks for the help & patience!

[2016-08-17 17:38] creswick commented on #14
Closing;

For reference: CJWizard is up on JCenter here: https://bintray.com/creswick/CJWizard/cjwizard

[2016-08-17 17:38] #14 closed

[2016-08-18 00:05] creswick commented on #3
I just tried switching to slf4j.

Since the test suite isn't that comprehensive, and I don't actually use this project any more it's difficult for me to tell if I actually solved the problem.

Could one of you folks take a look? The work is on this branch:

https://github.com/cjwizard/cjwizard/tree/feature/slf4j

Thanks!

[2016-08-22 13:54] Petikoch commented on #3
@creswick

https://github.com/cjwizard/cjwizard/tree/feature/slf4j looks good!

+1

[2016-08-22 13:55] Petikoch commented on #40
@creswick , would you like a pull request for this?

[2016-08-24 20:28] creswick commented on #40
@Petikoch a PR would be great, but I can also port them easily.  I'm just waiting to get feedback from another German speaker.

[2016-08-25 06:20] Petikoch commented on #40
@creswick , do you know someone who speaks german?
Would you like me to ask someone like german speaking Java Champion @lukaseder for a second opinion?

:-)

Best regards,
Peti

[2016-08-25 06:29] lukaseder commented on #40
Sure, I can help you do your translation work. My hourly rate is ... ;)

Anyway, yeah, it's an improvement, although, I'm never a big fan if UI design (e.g. `>` and `<`) goes into translations... that's up to you

[2016-08-25 14:43] creswick commented on #40
@lukaseder Thanks! Two other German speakers also concur :). I may be able to fold these changes in today.

I agree about the < > characters, and there was no real good reason for them to be there (other than expediency).

They should probably be computed based on locale settings so they work for languages that don't follow wester reading order; if anyone wants to take a stab at that...

[2016-08-25 16:36] creswick commented on #40
Fixed by commit a95861c

[2016-08-25 16:36] #40 closed

[2016-08-25 17:11] #3 closed

[2016-08-26 07:54] Petikoch commented on #40
Excellent! 👍

What about releasing the latest changes? I'd pull it on Monday and "put it in production"...

Best regards,
Peti

[2016-08-26 21:17] creswick commented on #40
1.0.7 should be released - it has the slf4j changes, too. (ugh, that probably should have been a 1.1 release...)

[2016-08-29 06:35] Petikoch opened #41 "Encoding issue with i18n ResourceBundle values (1.0.7)"
Good morning @creswick,

the german `< Zurück` (English: `< Prev`) shows up as `< ZurÃ¼ck` in my application.

I _guess_ this is because the properties files are stored using UTF-8 (dev-time) and read using ISO-8859-1 (runtime), like described in http://stackoverflow.com/q/4659929/1662412.

Best regards,
Peti

[2016-08-29 08:56] Petikoch commented on #41
The simplest fix would be to just store the .properties files using ISO-8859-1.

[2016-08-29 14:08] creswick commented on #41
Dang... I need to set up a sample app so I can test things better before
release.

I'm actually without a dev machine for a while, so this will be tricky to
fix and release quickly.

On Mon, Aug 29, 2016, 1:56 AM Peti Koch <notifications@github.com> wrote:

[2016-09-20 14:24] creswick commented on #41
I went ahead and merged the PR, but I don't yet have an environment set up to do deployments.

[2016-10-19 15:14] Petikoch commented on #41
Release it anyway? Pragmatic approach...

[2016-10-19 16:49] creswick commented on #41
@Petikoch can you take over releases? I just don't have time to even get an environment up again, and cut releases in a reasonable timeframe. I'm happy to do whatever I need to enable someone else to take over.

If you can't either, we need to find someone who can.

[2016-10-20 08:37] Petikoch commented on #41
@creswick I can help. If you add me as "collaborator" to the project, I can do the maintenance. Would you like me to "care for everything" (issues, pull requests, ...) or just for the releases?

Best regards from Switzerland,
Peti

[2016-10-20 15:05] creswick commented on #41
@Petikoch thanks! I've added you to the team, and you should have full access to all the github things.  I'd be happy to transition all the maintainer duties / responsibilities / glory ;)

[2016-10-20 19:28] Petikoch opened #44 "Broken link to cjwizard1.png in README.md"
@creswick , in the README.md is http://cjwizard.googlecode.com/files/cjwizard1.png referenced.

However, that file doesn't exist any more (googlecode is gone). Do you have it somewhere?

Best regards,
Peti

[2016-10-20 19:54] Petikoch commented on #41
@creswick It works like a charm... :-) However... In order to publish a release to JCenter I need some help. I didn't use Maven the last couple of years, I switched over to gradle.

How did you do the releases?
- a local "maven deploy"?
- what local files do I need the setup? for the gpg signing?

PS: I'd like to keep the maven build for the moment

[2016-10-25 18:17] creswick commented on #44
I don't have it, unless it's somewhere in the repo.

On Thu, Oct 20, 2016 at 12:28 PM Peti Koch <notifications@github.com> wrote:

[2016-10-25 18:25] creswick commented on #41
'maven deploy' should do it, but your specific deployment details will
differ; I can't share the keys I used, so we'll need to change to a new
keypair.

On Thu, Oct 20, 2016 at 12:54 PM Peti Koch <notifications@github.com> wrote:

[2016-11-12 15:38] Petikoch commented on #41
@creswick, I set up an cjwizard organisation in Bintray and invited you to join it. After the join you can "move" the creswick/cjwizard repo to the cjwizard organisation (https://bintray.com/docs/usermanual/interacting/interacting_transferringownershipofarepoyouowntoanorganization.html).

Regarding gpg signing... no big deal. We enable "signing by bintray on upload" in the cjwizard organisation  a

[2016-11-12 15:39] Petikoch commented on #44
There is none in the repo. I'll create a new one...

[2016-11-12 18:04] creswick commented on #41
That sounds great!

The documentation you linked to doesn't seem to be up-to-date with the
bintray UI, so I've emailed support to get help on transitioning the repo.

Thanks!
--Rogan

On Sat, Nov 12, 2016 at 7:38 AM Peti Koch <notifications@github.com> wrote:

[2016-11-13 16:33] Petikoch commented on #41
Probably it was because the "cjwizard bintray organisation" didn't have a repository...

I just created a "maven" repository in bintray: https://bintray.com/cjwizard/Maven

Would you like to be the owner of the "cjwizard bintray organisation"? At the moment you are "admin" and the "owner" is me. https://bintray.com/cjwizard/organization/edit

Best regards!
Peti

[2016-11-13 19:02] creswick commented on #41
ah, that was it! It should be transferred to the organization now.

I think you should be the owner, unless you really don't want to be.

Thanks!

On Sun, Nov 13, 2016 at 8:33 AM Peti Koch <notifications@github.com> wrote:

[2016-11-14 19:42] Petikoch commented on #14
For reference: It's now here: https://bintray.com/cjwizard/CJWizard/cjwizard

[2016-11-14 20:05] Petikoch commented on #41
Fixed with https://github.com/cjwizard/cjwizard/releases/tag/cjwizard-1.0.8

[2016-11-14 20:05] #41 closed

[2016-11-14 20:21] Petikoch commented on #35
Hello @guerda and @PhoneixS ,

CJWizard is now deployed to "Bintray JCenter" (https://bintray.com/bintray/jcenter), an alternative for "maven central". See also https://github.com/cjwizard/cjwizard/issues/14.

It's located here: https://bintray.com/cjwizard/CJWizard/cjwizard

Do you insist to have it also in "maven central"?

Otherwise we could close this "old" issue.

Best regards,
Peti

[2016-11-14 20:41] Petikoch opened #45 "Cleanup project"
* Close old issues
* Create a wiki page for developers / collaborators
* Create an example project
* Remove unused files

[2016-11-14 21:00] PhoneixS commented on #35
Yes I think it's enough.

El lun, 14 de noviembre de 2016 21:21, Peti Koch <notifications@github.com>
escribió:

Hello @guerda <https://github.com/guerda> and @PhoneixS
<https://github.com/PhoneixS> ,

CJWizard is now deployed to "Bintray JCenter" (
https://bintray.com/bintray/jcenter), an alternative for "maven central".
See also #14 <https://github.com/cjwizard/cjwizard/issues/14>.

It's located

[2016-11-15 18:37] #35 closed

[2016-12-02 15:06] Petikoch commented on #44
I found a tiny preview in "google image search" and added it to the repo

[2016-12-02 15:06] #44 closed

[2016-12-02 15:08] Petikoch commented on #11
Closed because no updates on this issue since 2014. Please reopen if necessary.

[2016-12-02 15:08] #11 closed

[2016-12-02 15:09] Petikoch commented on #4
Closed because no updates on this issue since 2014. Please reopen if necessary.

[2016-12-02 15:09] #4 closed

[2016-12-02 15:10] Petikoch commented on #2
Closed because no updates on this issue since 2014. Please reopen if necessary.

[2016-12-02 15:10] #2 closed

[2016-12-02 15:10] Petikoch commented on #9
Closed because no updates on this issue since 2014. Please reopen if necessary.

[2016-12-02 15:10] #9 closed

[2016-12-02 15:15] Petikoch commented on #44
Finally found the real png in
https://web.archive.org/web/20141224154218/https://code.google.com/p/cjwizard/

[2016-12-02 15:29] Petikoch commented on #45
Finished... Maybe I was a little bit harsh, but at least we have a "clean base" now

[2016-12-02 15:29] #45 closed

[2017-03-23 19:24] spyhunter99 opened #46 "WizardSettings.entrySet throws unsupported operating error"
perhaps my understanding of it's function is, but I was under the impression that WizardSettings would contain the values of the data entered by the user. It looks like it's more for managing what wizard page to show next, however the test class seems to indicate otherwise.

[2017-03-23 19:25] spyhunter99 opened #47 "Demo for how to show the vertical navigation menu?"
love the library by the way! found it through stack overflow

On the demo screen shot, there is a left hand side vertical tree like menu. Is there a demo or example on how to display this?

[2017-03-23 19:31] spyhunter99 commented on #46
Edit, just saw the code for StackWizardSettings, it's not for user values. sorry for the noise

[2017-03-23 19:31] #46 closed

[2017-03-24 07:50] PhoneixS commented on #47
You can read here https://github.com/cjwizard/cjwizard/issues/20 why it isn't included. Basically, we lost the sources before the repository was made.

Maybe someone can create it and share with all of us.

[2017-03-24 10:58] spyhunter99 commented on #47
oh, bummer. i'll see what i can do

[2017-03-24 15:14] spyhunter99 opened #48 "Example for more complex workflows?"
Is there any example for optional steps, or tree like structures

For instance, if option A is check, the slide page should page A1, otherwise skip to page B

[2017-03-24 15:14] spyhunter99 opened #49 "Separate the demo's from the main library"
A suggestion, separate the demo classes into a separate module instead of embedding them in the main library. I can open a PR for this

[2017-03-24 20:13] stevesobol commented on #49
Hey Spyhunter!

Rogan turned over the cjwizard library to me a while ago. I have had ZERO time to devote to it, unfortunately, but I need to change that, since I essentially own the project at this point. So, I want to dig in and start helping you with further development of the library.

There are things we should discuss that don't need to be attached to GitHub issues. I want to go ahead and set

[2017-03-24 22:27] spyhunter99 commented on #49
Sweet, you can always use maven to create the site. It's quite easy and i can do a pr for it too if you like. Let me work through a few issues on my end and get back to you

[2017-03-24 22:38] stevesobol commented on #49
Maven's great for doing a quick informational site. I won't be using Maven, though, as I want to do a fancier site (common branding with some other dev tools I'm working on, etc) - plus, I'm a web developer and want to add this new site to my portfolio. :) I'm steve at LobosStudios.com - drop me an email when you are ready. Looking forward to working with everyone. :)

[2017-03-26 15:39] spyhunter99 opened #53 "Feature request: On wizard page visible"
Would it be helpful to detect when a particular page has been made visible to the user

[2017-03-26 15:43] spyhunter99 commented on #53
ahh actually this is already implemented. sorry for the noise
WizardContainer.WizardListener.onPageChanged

[2017-03-26 15:43] #53 closed

[2017-03-26 16:15] Petikoch opened #54 "Who would like / will maintain the cjwizard project?"
Hi everybody,

recently, there were a couple of issues and pull requests from @spyhunter99...

@stevesobol mentioned, that he took over the project from @creswick (https://github.com/cjwizard/cjwizard/issues/49).

That's good news for cjwizard :-)

Technically, I supported the project last year a little bit (https://github.com/cjwizard/cjwizard/releases) and helped to make it available via Bintray

[2017-03-27 04:51] stevesobol commented on #54
That'll be me. Let's do this thing!

[2017-03-27 05:05] stevesobol commented on #54
Do you use the Bintray credentials for other projects, or do you use them exclusively for cjwizard?

If you only use them for cjwizard, you can put them in a kdbx file using Keepass, or I can give you my PGP public key and you can email them to me.

[2017-03-27 18:28] Petikoch commented on #54
@creswick, could you briefly confirm @stevesobol  as the new project leader? I'll add him afterwards to the Github organization and the Bintray organization.

@stevesobol, as soon as you are a member in the Bintray organization, you'll get the key from there. You'll have to add it in your local maven settings.xml in order to be able to deploy new cjwizard binary versions.
To speed things up: 1) ma

[2017-03-27 23:00] creswick commented on #54
I'm happy to have @stevesobol take over, but I honestly don't know any of you folks that well, so I don't have strong feelings about who takes charge.  It's great to see folks interested in the project, and I'm thrilled to see it in use!

My primary concerns are:
 (1) The project stays alive, as long as it is useful, and as long as we can keep it that way, and
 (2) Everyone who wants to contribute

[2017-03-28 04:27] Petikoch commented on #54
@stevesobol, I just invited you as a member of the cjwizard github organization. With this, you have "full rights" to the repo and as well to the github organization itself.

Let me know when you are ready with the Bintray user account...

And let me know, when I can help with something! :-)

[2017-03-28 05:01] stevesobol commented on #54
I am on Bintray now, signed in with my Github credentials https://bintray.com/lobosstudios

@creswick may or may not recall our email conversations where I repeatedly apologized for not having enough time to work on the project. That ends this week. (Seriously.) I want to move forward with whatever bugfixes and enhancements are on the table first, and then we can figure out where we want to go fro

[2017-03-28 15:40] creswick commented on #54
@stevesobol I definitely remember! I'd assumed you were just busy with other things.  It's great that you're able to work on the project now!

[2017-03-28 21:20] stevesobol commented on #54
Thanks. Bintray says "29 days left in trial." It's still free for OSS, right? :)

I approved the invite.

CI is one area where I'll need to get up to speed. I've used TeamCity in the past, and I plan on using it for my own personal projects (I'm a current JetBrains customer and big fan of the company's products) -- but I've never used Travis CI. I'll be fine, just may need a little bit of hand-hol

[2017-03-28 21:24] stevesobol commented on #54
*facepalm* @Petikoch you may need to re-send that invite. I looked, and I'm on a trial of Bintray **ENTERPRISE.** I need to cancel that trial, but my organization will be deleted (which is fine with me).

Bear with me for a moment...

... OK. I cancelled, and my organization was deleted, but my **account** is still active and I'm still showing that I'm part of the _cjwizard_ org. Thank $DEITY.

[2017-03-28 22:35] spyhunter99 commented on #54
I have a sonatype account and can help setup maven to publish to there. it's definitely free

[2017-03-29 01:44] stevesobol commented on #54
Thanks.

I have created https://cjwizard-devs.slack.com but didn't invite anyone yet. I did install the github and Travis CI apps in #general.

[2017-03-29 05:55] Petikoch commented on #54
@stevesobol

- probably you can "downgrade" your bintray account to the OSS one?
- signup for the free OSS account would have been via https://bintray.com/signup/oss
- https://bintray.com/stevesobol is now "admin" member of https://bintray.com/cjwizard

@spyhunter99

- sure, you and @stevesobol can switch over to sonatype, if you want
- personally, I find bintray easier to use than sonatype
- and:

[2017-03-29 23:23] stevesobol commented on #54
- https://cjwizard-devs.slack.com/ (I'll need to invite people to the channel)
- Let's continue to use bintray. I can handle learning how to use it...
- @Petikoch that sounds like the way forward... excellent... Will you continue to be involved?

[2017-03-31 14:34] Petikoch commented on #54
@stevesobol, my further involvement?

As mentioned, I'm not an active user of cjwizard anymore. But I'll be glad to help you getting started.

What is your motivation @stevesobol for the involvement in cjwizard?

[2017-03-31 21:34] stevesobol commented on #54
@Petikoch Ah... ok, I had to go re-read the first message in the thread. Yes, the help will be very deeply appreciated. Once I've familiarized myself with the project, I will be fine.

My motivation:
- My first real use of open-source software was Red Hat Linux 4.1 at my first-ever IT job, back in late 1995. I've been a fan of OSS and an OSS user ever since then, and I keep on promising myself tha

[2017-04-13 20:33] spyhunter99 opened #55 "WizardPage advance to next?"
From the context of a wizard page, is there a way to advanced to the next wizard page?

[2017-04-13 20:51] creswick commented on #55
I don't think there's a good way to do that.

I believe you need a reference to the WizardController (the WizardContainer is an instance of this), but it's not exactly easy to pass that into your WizardPages.  It could probably be exposed, though.

[2017-04-13 22:57] spyhunter99 commented on #55
K guess I know what I'm doing this weekend

On Apr 13, 2017 4:52 PM, "Rogan Creswick" <notifications@github.com> wrote:

[2017-04-17 02:48] stevesobol opened #57 "Documentation"
We need more complete documentation, including more sample code.

[2017-04-17 02:51] stevesobol commented on #54
Do we need to keep this bug open? Does anyone have any objections to me taking over the project?

[2017-04-17 05:56] PhoneixS commented on #54
No, I think you can go ahead.

El lun, 17 de abril de 2017 04:51, Steve Sobol <notifications@github.com>
escribió:

[2017-04-17 10:55] spyhunter99 commented on #57
consider moving the "docs" folder into /src/site/markdown and adding the site descriptor. Then you can build a neato website using `mvn site` and push it to gh-pages

[2017-04-18 19:31] stevesobol commented on #57
I think that makes sense, at least for the docs. I'm going to put a full website up at cjwizard.com, and we can link to the docs here.

[2017-04-26 14:36] stevesobol commented on #55
@spyhunter99 Just merged your pull request.

[2017-04-26 14:36] #55 closed

[2017-04-27 22:59] spyhunter99 opened #58 "Scrolling the in the Wizard Panel?"
I've ran into an issue where I have a Panel that extends WizardPanel that is too tall for displaying on the screen. I'm not a swing expert and i'm not too sure how to proceed. I was thinking i wrap my panel in a scroll view but i'm not sure if there's an easier solution that could be incorporated into the library. Thoughts on this?

[2017-04-28 00:14] stevesobol commented on #58
I'm not sure either. Can you provide a code sample?

[2017-04-28 00:42] spyhunter99 commented on #58
ahh found the solution (netbeans centric)

Create a new JPanel
Add a scroll view that fills the panel
Drag a new panel into the scroll view
Right click the new inner pannel, then design this.
build your layout as normal, then it's scrollable within the wizard

[2017-04-28 00:48] stevesobol commented on #58
Matisse generates standard Java code, so even though you may have used Matisse, your solution is usable in other IDEs as well. I think once we fork off the demo from the main library, we should add a sample that does exactly what you're talking about.

[2017-04-28 00:48] #58 closed

[2017-06-03 17:38] stevesobol commented on #47
@spyhunter99 I just merged the pull request that includes that change.

[2017-06-03 17:38] #47 closed

[2017-06-03 17:40] stevesobol commented on #49
This is essentially the same issue as #39 - I'm going to close this issue and work on that one

[2017-06-03 17:49] stevesobol opened #59 "Stack overflow on WizardPageTest (OpenJDK)"
Obviously, fixing this is very high priority: https://travis-ci.org/cjwizard/cjwizard/jobs/239124045

[2017-06-03 19:40] spyhunter99 commented on #59
want me to take a look at it?

On Sat, Jun 3, 2017 at 1:49 PM, Steve Sobol <notifications@github.com>
wrote:

[2017-06-03 19:41] spyhunter99 commented on #59
actually it builds fine here, try restarting the travis job

On Sat, Jun 3, 2017 at 3:39 PM, Alex O'Ree <alexoree@apache.org> wrote:

[2017-06-03 22:11] stevesobol commented on #59
I'm going to look at it. Definitely, if you want to check it out too, go ahead.

--
Lobos Studios | Phone: 877.919.4WEB | LobosStudios.com | Facebook.com/LobosStudios | @LobosStudios
Web Development - Mobile Development - Helpdesk/Tech Support - Computer Sales & Service
Acer Authorized Reseller - Computers, Windows and Android Tablets, Accessories

Steve Sobol - CEO, Senior Developer and Server Jo

[2017-06-03 22:11] stevesobol commented on #59
Ok

--
Lobos Studios | Phone: 877.919.4WEB | LobosStudios.com | Facebook.com/LobosStudios | @LobosStudios
Web Development - Mobile Development - Helpdesk/Tech Support - Computer Sales & Service
Acer Authorized Reseller - Computers, Windows and Android Tablets, Accessories

Steve Sobol - CEO, Senior Developer and Server Jockey
steve@LobosStudios.com

[2017-06-04 02:40] stevesobol commented on #59
@spyhunter99 Oracle JDK is fine, it's OpenJDK that is puking. I'll test locally against OpenJDK.

[2017-06-04 02:47] stevesobol commented on #59
arg. Of course I don't have a build environment set up, at this moment, for OpenJDK. I may need some time. For now I'm going to discontinue the OpenJDK builds

[2017-06-04 02:52] stevesobol commented on #59
Build passes now on Oracle JDK 7 and 8. This issue will remain open until we either resolve the issue, or decide we're not supporting OpenJDK.

[2017-06-04 08:12] stevesobol opened #60 "Temporary website is up in all its glory"
@creswick @spyhunter99 @Petikoch

[cjwizard.com](http://cjwizard.com)

Is there anyone else I should give credit to? 😄

[2017-06-04 08:13] stevesobol commented on #60
And don't tell anyone, but by "project leads" I mean "the only two guys working on the project right now" LOL

[2017-06-04 12:27] spyhunter99 commented on #49
it isn't but i think some of the previous prs have squashed this. i'll redo it

[2017-06-04 13:07] spyhunter99 commented on #59
i just ran the build on openjdk7 (windows) without an issue so it may be isolated to linux

[2017-06-04 17:25] stevesobol commented on #59
Just installed openjdk 7 on my Ubuntu dev box. Will report my local build results later

[2017-06-04 17:43] stevesobol commented on #49
Well, I'll reopen this one then, but I'm confused as to what the differences are.

[2017-06-04 22:32] spyhunter99 commented on #49
ehh i guess they are duplicates, both are covered by the open pr

On Sun, Jun 4, 2017 at 1:43 PM, Steve Sobol <notifications@github.com>
wrote:

[2017-06-05 21:08] stevesobol commented on #49
OK. That means I can go ahead and close this issue and just work on that one, then?

[2017-06-05 21:09] #60 closed

[2017-06-05 21:54] creswick commented on #60
That's great!

On Mon, Jun 5, 2017 at 2:09 PM Steve Sobol <notifications@github.com> wrote:

[2017-06-05 22:39] #49 closed

[2017-07-21 16:58] spyhunter99 opened #61 "Feature request, on before next and on before previous actions"
Not sure if this exists already but it would be super useful to trap the events for next and previous and the ability to cancel said action.

use case
user clicks next
app prompts "are you sure you want to do that" yes/no jdialog

[2017-07-29 15:53] stevesobol commented on #61
Great idea. I’m digging into cjwizard this coming week and would like to get this implemented then. I’m reviewing that pull request this weekend, btw (to refactor the samples out into a separate Maven project)

--

Lobos Studios | Phone: 877.919.4WEB | LobosStudios.com | Facebook.com/LobosStudios | @LobosStudios

Web Development - Mobile Development - Helpdesk/Tech Support - Computer Sales & Servi

[2017-07-29 16:19] spyhunter99 commented on #61
turns out, it does exist. override onNext, then return false if there was some kind of issue

[2017-07-29 16:19] #61 closed

[2017-08-07 04:03] stevesobol commented on #39
Closing this issue, as the forthcoming (as in, "I'm creating it now") 1.0.9 release is split into two different projects (thanks, @spyhunter99)

[2017-08-07 04:03] #39 closed

[2017-08-07 06:13] stevesobol commented on #54
I just released 1.0.9 on Github but I'm getting 401 Unauthorized when deploying to Bintray. Help please :(

[2017-08-07 06:19] stevesobol commented on #54
I'm having trouble navigating around Bintray. I'm an admin, I should be able to set my own permissions to allow API access, but...

Also, if you're not working on the project anymore, can you make me owner of the cjwizard org on Bintray? Thanks.

[2017-08-07 14:58] creswick commented on #54
Peti Koch is the current owner of that org; (https://bintray.com/petikoch)
It looks like I can probably switch that to you, but I'd like to make sure
he knows what's going on first.

On Sun, Aug 6, 2017 at 11:19 PM Steve Sobol <notifications@github.com>
wrote:

[2017-08-07 15:01] stevesobol commented on #54
Yes. The request was actually directed at him :)

Since he is not an active developer, I expect that it might take him a day or two to respond. That's fine.

[2017-08-07 19:13] Petikoch commented on #54
@stevesobol , you are now the "owner" of the cjwizard organization in bintray (https://bintray.com/cjwizard/organization/edit). Before, you were "admin".

[2017-08-07 19:21] Petikoch commented on #54
@stevesobol, regarding your 401 Bintray upload issue...

How does your maven settings.xml look like? (see also https://github.com/cjwizard/cjwizard/issues/54#issuecomment-289542343)

My settings.xml looks like this
[code]

For more details see also https://bintray.com/docs/usermanual/formats/formats_mavenrepositories.html#anchorMavenDepoy

[2017-08-08 01:04] stevesobol commented on #54
Mine didn't. I didn't realize that Bintray can generate the settings.xml, so I generated it, and now it looks like yours but I'm still seeing HTTP 401s. Will continue to work on this.

[2017-08-08 01:06] stevesobol commented on #54
Ooh. Had to set <server> / <id> properly. It worked. Now I need to upload the demos. Thanks for the help

[2017-08-08 01:06] #54 closed

[2017-08-08 11:49] spyhunter99 commented on #54
Use the maven release plugin next time

On Aug 7, 2017 9:06 PM, "Steve Sobol" <notifications@github.com> wrote:

[2017-10-11 07:28] janmaterne opened #64 "README.md: dev.java.net not available any more"
The main page lists the >>Java Wizard library at Java.net (https://wizard.dev.java.net/).<<, but that page is not available any more.

[2017-10-11 13:55] creswick commented on #64
I made a small change to the readme in 00da50766532566b086c9f6719e9a1d158bd6d00

[2017-10-11 13:55] #64 closed

[2017-10-11 13:56] creswick commented on #64
@janmaterne thanks for letting us know!

[2017-10-13 02:09] stevesobol commented on #64
Thanks @creswick. I need to overhaul the readme anyhow, but that will work for now. Is there any way for me to get notifications anytime someone opens a bug? I've checked my notification settings but I'm not sure there is. I could have taken care of this.

[2017-10-13 02:34] creswick commented on #64
@stevesobol I do get emails for every new issue; I'm not sure I get notifications for comments that don't mention me directly.

I *think* the notifications I get are just because I'm 'watching' this repo, but I'm not certain if there is another setting I've toggled elsewhere.

[2018-01-11 13:06] PhoneixS opened #65 "Could we have snapshots in JCenter?"
Do you know if it is possible to automate that when we have new commits and travis is ok with them then it is published automatically on JCenter (Bintray)?

[2018-01-24 14:42] pablopasten commented on #48
Is there any way to press next and go to any page or last page directly? with out going step by step. I need made a more complex flow

[2018-01-26 05:03] stevesobol commented on #65
I don't know. I will check, however. I also need to get the Bintray repository working in Gradle (it works with Maven right now, but not Gradle). Will take care of both of these things ASAP.

Thanks
--Fearless Leader

[2018-02-04 05:27] stevesobol commented on #65
https://docs.travis-ci.com/user/deployment/bintray/

I'm gonna say that's a "yes, we can."

[2018-02-04 06:59] stevesobol commented on #48
It looks like I need to create some. This goes hand-in-hand with the issue I opened for documentation.

I'd like to try to cook up something this coming week. No promises - it depends on how heavy my workload is - but this is on my radar.

Best
--Fearless Leader.

[2018-02-04 18:55] stevesobol commented on #59
@PhoneixS  hey... I see there's a [change](https://github.com/cjwizard/cjwizard/commit/f6dafb12b50d943bbe7080d0bb95512dff794e76) to travis.yml that has us using OpenJDK 7 now, instead of Oracle JDK 7. I understand why ( <8 is not supported by Oracle unless you pay for a support contract) but that leads me to wonder, since the OpenJDK 7 builds are not causing the stack overflows anymore, whether we

[2018-02-04 18:57] stevesobol commented on #65
Also, gradle is fine. I just point it at the URL of the CJWizard Bintray repository. I'll look into connecting Travis to Bintray.

[2018-02-05 17:33] PhoneixS commented on #59
@stevesobol Yes, I think is nice to have it tested in both. I've already added it in ac9264381cc5aebce6d533d8e74376010c7b905f

[2018-02-05 20:57] stevesobol commented on #59
I see that, and Travis built without errors, so I'm closing this issue. Thank you!

[2018-02-05 20:57] #59 closed

[2018-02-06 06:25] stevesobol commented on #65
Hm. The auto-deployment to Bintray is disabled for pull requests, and I'd really like to move towards pull requests instead of commits directly to the repo like we've been doing. I'm _**REALLY**_ uncomfortable committing directly to master. Too much potential for things to go wrong.

Perhaps I can script nightly snapshots instead?

[2018-02-10 05:56] stevesobol commented on #65
@PhoneixS what do you think about nightly snapshots? (this is your request, so I'd like your input)

[2018-02-10 12:00] PhoneixS commented on #65
Yes, I think that we can go with nightly snapshots, it's more or less the same as we don't usually have lots of commits per day.

[2018-02-10 23:27] stevesobol commented on #65
Very good. BASH time ^_^

Scripting something on my Mac that will pull down master and SCP it to **nightly.cjwizard.com**.

[2018-02-11 05:03] stevesobol commented on #65
Ok. I have successfully scripted "pull latest from Git, build, upload jars". So now, there's a crontab entry and the Mac should upload nightly snapshots every night at midnight, assuming that the utility I downloaded and installed to keep the computer from sleeping while locked actually works. (Thanks, Apple, for forcing the computer to sleep when I lock it!)

The builds will appear on [nightly.cj

[2018-02-11 05:03] stevesobol commented on #65
Eventually, I'll set up a build server at Digital Ocean, but for now, this will work.

[2018-02-11 08:10] stevesobol commented on #65
@PhoneixS OK, looks like the cron job is working. I'm going to monitor it for a few days before closing this ticket. Tonights nightlies have just been posted.

[2018-02-11 12:17] PhoneixS commented on #65
Really nice job @stevesobol !

[2018-02-11 19:41] stevesobol commented on #65
Thank you, sir!

This project needs attention, and I'm hoping to be able to devote a fairly large amount of time to it this spring. Little things like Mr. Creswick still being listed as a point of contact in one of the .MD files, when I should be the PoC - and bigger things like making sure visitPage() works properly (which it doesn't seem to atm), and more (and better) unit testing, just to name

[2018-02-11 19:58] stevesobol opened #68 "New Slack channel"
@PhoneixS @mperrando @spyhunter99

We have a new Slack channel available at **[cjwizard-users.slack.com](https://cjwizard-users.slack.com).**

[2018-02-14 01:22] stevesobol commented on #65
I think we're good. Two more nightlies got pushed out. Marking this issue closed.

[2018-02-14 01:22] #65 closed

[2018-02-16 18:35] stevesobol commented on #68
I tagged you guys because I want you to join, btw. Please join. :)

[2018-02-16 18:42] PhoneixS commented on #68
It says that if I don't have an account the admin must send me an invitation, maybe you should send invitations ;-)

[2018-02-16 18:55] stevesobol commented on #68
Well - apparently there is no way to create a public channel. Not cool, since I liked the previous URL and it is now unavailable after I deleted the old channel.

[2018-02-16 18:57] stevesobol commented on #68
I should have said public WORKSPACE.

Yeah, I'm going to need to invite everyone. If you don't want your email address exposed here, let me know and I'll delete it as soon as I send you the invite.

[2018-02-16 21:42] spyhunter99 commented on #68
same id at gmail

[2018-02-17 01:45] stevesobol commented on #68
URL updated to the new one that I shouldn't have had to create

[2018-02-21 03:27] #68 closed

[2018-02-22 03:53] spyhunter99 commented on #48
I think I need something like this.

![untitled diagram 2](https://user-images.githubusercontent.com/1975321/36519525-00607e02-175a-11e8-9fbc-f4f492ddfb19.png)

[2018-02-22 04:05] spyhunter99 commented on #48
ok so injecting a new page via

[code]

is definitely not right

[2018-02-22 04:11] spyhunter99 commented on #48
and ` getController().visitPage(pages[0]);` doesn't appear to be right either, throws the following
[code]

[2018-02-24 02:49] spyhunter99 commented on #48
![untitled diagram 3](https://user-images.githubusercontent.com/1975321/36624885-6e74f636-18e3-11e8-8f87-414f4e792d4b.png)

slightly revised setup that's a bit more complex

[2018-05-20 18:58] stevesobol opened #69 "Add support for Java 9 and 10"
We need to make sure we are supporting Java 9 and 10. Oracle has 10.0.1 out now, and it can be downloaded using [this link](http://www.oracle.com/technetwork/java/javase/downloads/index.html), while the OpenJDK 10.0.1 download can be found [here](http://jdk.java.net/10/).

It may be as simple as adding the proper keywords to `travis.yml` and letting Travis successfully build the project. Actually,

[2018-05-20 19:13] stevesobol commented on #48
I am SO sorry for the delay. Real life and work intervened.

I only have a little time today, but I am using that time to check out the existing code and see how it's generating the history (which, based on my earlier observations, is where the problem occurs). I would like to try to come up with a fix sometime before the end of the month.

[2018-05-20 19:38] stevesobol opened #70 "Refactor APageFactory, rename it PageFactoryImpl"
`APageFactory` implements the `PageFactory` interface, but the class name doesn't reflect that fact.

[2018-05-22 14:26] stevesobol commented on #48
Either today or tomorrow, I am going to figure out what's going on. I actually printed out the source to `WizardContainer.visitPage()` to see what's happening. Stay tuned.

[2018-06-01 04:07] stevesobol commented on #48
I'm beat. But I have some free time tonight, so I'm trying to analyze how `WizardContainer` works. `next()` and `prev()` work perfectly. `visitPage()` is broken. So I need to figure out where the differences are.

[2018-07-07 14:07] shannah opened #71 "Maven dependency snippet doesn't work"
The maven dependency snippet in the readme doesn't seem to work for me.

[code]

The snippet matches the snippet that is provided in the [bintray link](https://bintray.com/cjwizard/CJWizard/cjwizard)

In order for my project to actually download the classes, I needed to remove the `<type>pom</type>` tag.  After that the jars were downloaded correctly and I was able to use the classes.

[2018-07-07 15:40] spyhunter99 commented on #71
`<dependency>
  <artifactId>cjwizard</artifactId>
  <version>1.0.9</version>
</dependency>
`

[2018-07-11 23:29] #71 closed

[2018-09-17 09:17] nigredo-tori opened #73 "StackWizardSettings breaks java.util.Map contract"
1. It doesn't implement `.entrySet()` and `.values()`, making the whole thing unsafe to use with the code that expects a proper `Map` (e.g. to save the resulting settings into a file). Is there a reason why it's implemented this way? There's an issue (https://github.com/cjwizard/cjwizard/issues/46) about it, but I don't quite get why it was closed. Unless, indeed, `StackWizardSettings` should only

[2018-09-17 15:15] stevesobol commented on #73
Hello!

I wasn't involved in the project when #46 was opened (or closed), so I have no response to that, but please let me take a look at this and see what I can do about it. Thanks.

[2019-01-24 00:59] spyhunter99 opened #75 "Demo's are broken"
Not sure what happened but all 3 demo's start up, then exit immediately after pressing the next button.

[2019-01-24 01:02] spyhunter99 commented on #75
ahh the problem was introduced with PR https://github.com/cjwizard/cjwizard/pull/67
onPageChanging calls this.dispose() which kills the panel

[2019-01-24 01:49] spyhunter99 commented on #48
looked at this again. visitPage kind of works. I am brought to the right page, however the next button doesn't seem to be tracking correctly. So if i'm on 3, i can jump right to 5, but the next button (first click) stays at 5, next again goes to 6. Previous works perfectly though. I narrowed it down to the demo's implementation of `PageFactory#createPage`. After a fancier implementation it seems t

[2019-01-24 03:46] #48 closed

[2019-01-24 03:55] stevesobol commented on #75
Since this is fixed, and you closed a related issue, I'm going to close this one.

[2019-01-24 03:55] #75 closed

[2019-01-24 03:58] stevesobol commented on #69
I actually may have some time over the next week or two. This is a priority now that I can actually work on this project.

[2019-01-26 15:37] spyhunter99 opened #77 "Demo logging cleanup and potentially a new demo with even more complex workflows"
some java.util.logging sneaked in there (probably me). also have a new idea for a new demo, working on both now

[2019-01-26 16:46] spyhunter99 commented on #70
this would probably be a breaking change, recommend 1.1.x version change or 2.0.0

[2019-01-26 18:38] spyhunter99 commented on #73
ehh on second though, i'm not sure that suggestion would work.

[2019-01-26 18:38] spyhunter99 commented on #70
i can do this once the demo pr is merged

[2019-01-26 18:39] stevesobol commented on #70
This isn't a necessity. I just think it's a good idea. It's relatively low priority; let's take care of the other pull requests first.

[2019-01-26 21:43] spyhunter99 commented on #69
The open pull request added travis build targets for jre9, 10 and 11, all of them passed the build with minor javadoc changes.

[2019-01-27 00:00] stevesobol commented on #70
Merged [your pull request](https://github.com/cjwizard/cjwizard/pull/80).

[2019-01-27 00:08] stevesobol commented on #69
You missed a couple entries. :)

I'm adding them now.

[2019-01-27 00:37] stevesobol commented on #69
Done

[2019-01-27 00:37] #69 closed

[2019-01-27 00:59] #77 closed

[2019-01-27 03:42] stevesobol commented on #57
Alright, I generated the site. We can only choose between master and gh-pages so I'll create a gh-pages branch and put the site there

[2019-01-27 05:14] stevesobol commented on #57
The generated documentation needs to be in /docs for Github to properly pick it up. So, it'll be in /docs in the gh-pages branch. It won't be updated automatically but that's fine for now

[2019-01-27 05:38] #57 closed

[2019-01-27 05:43] stevesobol commented on #73
I'm going to dig into this this coming week. @spyhunter99 if you have any ideas, I want to hear them and could you please do me a favor... email me at steve@lobosstudios.com from an email address you would like to use to communicate about this project. You've emailed me in the past but I have no idea if I still have those emails. And we may need to discuss things that don't make sense to discuss h

[2019-01-27 15:08] spyhunter99 commented on #57
oh that's right, they changed it. in my other projects, i made a separate git repo and pushed the maven generated site to it. But on other projects, a divorced branch in the same repo works.
![image](https://user-images.githubusercontent.com/1975321/51802807-7aba4580-221b-11e9-9661-1d4d084764b2.png)

[2019-02-02 18:03] stevesobol commented on #73
So, @spyhunter99  opened #46  and then immediately closed it, but his comment about the `StackWizardSettings` not  being for user settings (? not sure exactly what that means) doesn't seem relevant. `StackWizardSettings` implements `WizardSettings`, which extends `Map`. We should implement those missing methods. This seems, to me, to be the path forward. It doesn't involve making breaking changes

[2019-02-03 02:16] nigredo-tori commented on #73
@stevesobol, as I've said, I think that `WizardSettings` should not extend `Map` at all, since not all implementations are proper `Map` implementations. We can keep some of the methods declared in `WizardSettings` to avoid breaking too much, but we need to make sure those methods' contracts fit all known implementations (for example, `remove` works differently for `StackWizardSettings`).

This doe

[2019-02-03 20:34] stevesobol commented on #73
Ok. Let me get to work on this - thanks for your feedback

[2019-02-09 03:16] stevesobol commented on #73
so... I have Wizard Settings _not_ implementing `Map` anymore and there are a few methods I have to implement

[2019-02-10 16:58] stevesobol commented on #73
`get`, `put` and`keySet` were all already implemented in `StackWizardSettings`, so it was just a question of adding them to the `WizardSettings` interface. Now I have to implement those methods in `FlatWizardSettings`.

[2019-02-10 17:04] stevesobol commented on #73
`FlatWizardSetting` inherits from `HashMap` and broke because it didn't implement the `get` method. This was my solution:

[code]

[2019-02-10 17:15] stevesobol commented on #73
@nigredo-tori I haven't opened a pull request yet. I also haven't tested the changes yet. But I'd like you to look at them.

My branch is [here](https://github.com/stevesobol/cjwizard/tree/2019-02-10_stackwizard_settings). I updated `StackWizardSettings`, `WizardSettings` and `FlatWizardSettings` via [this](https://github.com/stevesobol/cjwizard/commit/855719ef9df54c6c7e6822c4ff80c266cb9b17f2) com

[2019-02-11 00:54] nigredo-tori commented on #73
@stevesobol, off the top of my head:
1. `StackWizardSettings.entrySet` and `StackWizardSettings.values` are not implemented, and should be removed.
2. `WizardSettings.put` should not be called "an optional operation" in its javadoc - unless there is a valid use case for immutable `WizardSettings` implementations.
3. Few of the methods in `StackWizardSettings` use `Object` rather than `String` as t

[2019-03-31 21:23] stevesobol commented on #73
@nigredo-tori I am still here FYI :) trying to find time to work on this, am working on it today and I'm thinking we get all of these things done, including the convenience methods, and since we have major changes, the next release will be 2.0.0 instead of 1.1.10 as I'd planned. There are still things I need to get done (much better docs, a real website, unit testing). But they can wait imho.

[2019-08-06 19:39] stevesobol commented on #73
Haven't forgotten about this. Things have been crazy and I've had to focus on getting new work.

[2019-09-11 19:15] stevesobol commented on #73
I'm starting clean. I'm not sure exactly where I was with the changes. The branch I linked to earlier is gone, so I'm going to remove the link to it.

[2019-09-11 22:00] stevesobol commented on #73
I'm going to have to update WizardSettings too, as StackWizardSettings extends that class and it extends `Map`.

[2019-09-11 22:09] stevesobol commented on #73
I think I'm going to have to grab the source code for `Map` and basically create a duplicate class, minus the stuff we do not need. Too many methods to rewrite otherwise.

Thank $DEITY for OpenJDK.

[2019-09-11 22:23] stevesobol commented on #73
@nigredo-tori hm. OpenJDK is GPL-licensed which means that we'd also need cjwizard to be GPL licensed, and it's always been Apache and I'd prefer to continue using Apache or switch to MIT, both of which are much more permissive than GPL. Thoughts on how we can deal with these changes? If I don't have `WizardSettings` extending `Map`, there are a bunch of useful methods that go away...

[2019-09-12 03:02] nigredo-tori commented on #73
@stevesobol,

Please don't do that. Reimplementing library classes is generally not a good idea. In fact, this very issue is about `StackWizardSettings` incorrectly implementing `Map`. :smile:

It should be easier and cleaner to solve this with aggregation. For example:
[code]
I don't like `getCurrentPageSettings` returning a mutable backing map - this constrains the implementation too much. Howev

[2019-09-14 17:08] spyhunter99 commented on #73
use a wrapper pattern instead of copy and paste

On Wed, Sep 11, 2019 at 11:02 PM nigredo-tori <notifications@github.com>
wrote:

[2019-09-14 19:08] spyhunter99 commented on #73
does this help? https://github.com/cjwizard/cjwizard/pull/82

[2019-09-14 20:24] stevesobol commented on #73
I'm sure it will. I'll check it out asap.

I am so sorry, guys. I'm being stupid about this. Lots going on over here, but that's no excuse.

[2019-09-28 19:39] #73 closed

[2020-07-05 13:19] vicnevicne opened #83 "Broken link in QuickStart guide"
The introduction of the page at https://github.com/cjwizard/cjwizard/blob/master/src/site/markdown/quickstart.md
contains a link to
https://github.com/cjwizard/cjwizard/blob/master/src/site/src/main/java/com/github/cjwizard/WizardTest.java
which is 404.
I guess it should be changed to
https://github.com/cjwizard/cjwizard/blob/master/cjwizard-demo/src/main/java/com/github/cjwizard/demo/WizardTest.j

[2020-07-07 01:56] stevesobol commented on #83
Just briefly checked the source, and yes, it's `com.github.cjwizard.demo.WizardTest`. Please hold :)

[2020-07-07 02:53] stevesobol commented on #83
Pull request https://github.com/cjwizard/cjwizard/pull/84

[2020-07-07 02:55] stevesobol commented on #83
Fixed; thank you for the report. I'm finally at the point where I can put in a decent amount of time on this project. Please open an issue (issues??) if you have feature requests.

[2020-07-07 02:55] #83 closed

[2021-02-05 00:24] stevesobol opened #86 "Where to move Maven repo?"
JCenter is going away as of May 1st, 2021.

https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/#:~:text=JFrog%20is%20evolving%20to%20meet%20the%20new%20challenges%20that%20developers%20face.&text=To%20streamline%20the%20productivity%20of,services%20on%20May%201st%2C%202021.

So, the question is, do we move to:

- A free JFrog Artifactory account? (Artifactory has a fre

[2021-02-05 00:32] spyhunter99 commented on #86
my vote is central via oss.sonatype.org. I can definitely publish to there. Getting access is easy, just need a jira ticket. I can have the pom setup for set up for publishing to there pretty quickly

[2021-02-06 22:43] stevesobol commented on #86
Works for me. Is there a place where I can sign up? I can't find one, and I'd like both of us to be able to submit new releases to the repo.

Googling "nexus oss" gives me search results the Open-Source version of Nexus -- as in, the OSS-licensed version of the on-premise software (which isn't what I'm looking for).

[2021-02-07 02:09] spyhunter99 commented on #86
this is the how to.
https://central.sonatype.org/pages/ossrh-guide.html

jira link
https://issues.sonatype.org/secure/Dashboard.jspa

should be a create account link there.

[2021-02-07 06:03] stevesobol commented on #86
Ah! Ok. Yeah, let's pull the trigger. I'll update the website. We should probably update the README as well. I'll do that too.

Please request access for yourself and for stevesobol-sonatype. I already have a Sonatype Jira account. :)

Thanks (again) :)

[2021-02-07 06:19] #86 closed

[2021-02-17 04:40] stevesobol opened #87 "Documentation needed"
We need actual documentation.

This is something I'm going to work on. I'm opening an issue so I can track my progress.

[2021-10-31 07:35] stevesobol commented on #54
So.... It's... significantly later than I'd hoped, but I'm actually devoting time to the project now, starting with the documentation. The "website" I have online at cjwizard.com is really just a landing page. I'm working on an _actual_ website now, and actual docs.

RIP Bintray, and I don't want to screw around with Maven Central, so I am going to self-host. I'm running Sonatype Nexus OSS, and I'

[2021-10-31 23:19] creswick commented on #54
Thanks for the update, I'm glad to hear you're working on it!

On Sun, Oct 31, 2021 at 12:35 AM Steve Sobol ***@***.***>
wrote:

[2021-11-07 06:21] stevesobol commented on #87
Currently working on an actual website to replace the [crappy landing page](https://cjwizard.com) I have online now.

[2022-01-23 07:33] otrebski opened #89 "Can't download cjwizard.jar"
There was a sun set of Bintray https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/
Gradle can't download dependencies from https://bintray.com/cjwizard/CJWizard/cjwizard.
 Can you upload dependencies to other maven repository?

[2022-01-24 05:44] stevesobol commented on #89
Yes, I'm aware that Bintray closed up shop. I have a Sonatype Nexus OSS server running, and one of the reasons I set it up (probably THE reason) is so I could host my own repos, including a Maven repo. I have a Maven repo in place, but it's empty at the moment, but within the next day or two, I will build 1.0.9 (the latest release) and publish it.

This is one of the things that has been on my to-

[2022-01-25 06:20] stevesobol commented on #89
I have the artifacts deploying to my Nexus server now. I am waiting for LGTM to complete a security analysis so I can approve and merge the pull request.

I didn't change any of the code, but I'm bumping the version to 1.0.9.1 anyhow. A release will be made available shortly, on Github.

[2022-01-25 06:32] stevesobol commented on #89
All set! https://github.com/cjwizard/cjwizard/releases/tag/cjwizard-1.0.9.1

The Readme has been updated, and will tell you how to grab artifacts from the new repo.

I'll close this issue once you reply and confirm that you can get 1.0.9.1.

Thank you for giving me the push I needed to get this done. This has been on my to-do list forever.

[2022-01-26 05:10] stevesobol opened #91 "Travis CI isn't running builds."
I'm not sure when this happened, but I have to re-connect the repository and get the builds up and running again.

[2022-01-26 05:22] stevesobol commented on #91
Yeah... maybe we won't use Travis CI. Free build credits for OSS projects are gone, and they were acquired by a vulture capital firm, so even if those free build credits still existed, I probably wouldn't decide to use them.

Looks like CircleCI offers 10,000 credits/month for OSS projects: https://circleci.com/docs/2.0/oss/

Github Actions is an option too: https://github.blog/2019-08-08-github-a

[2022-02-02 05:42] stevesobol commented on #91
I have a Windows VPS sitting in Los Angeles, right now, with TeamCity installed.

I set it up to perform automated testing and CI for my Windows projects, but there's no reason I can't also use it for Java projects.

I'm already paying for it...

[2022-02-11 06:06] stevesobol opened #92 "Fix alerts documented by LGTM"
https://lgtm.com/projects/g/cjwizard/cjwizard/alerts/?mode=list

There are a couple potential array-out-of-bounds issues that need to be addressed. There are also a couple unused annotations that should get cleaned up.

[2022-02-21 05:20] stevesobol commented on #89
I'm assuming everything's good... I'm closing this issue.

[2022-02-21 05:20] #89 closed

[2022-05-15 04:08] stevesobol commented on #92
Merged spyhunter's fixes, thanks

[2022-05-15 04:08] #92 closed

[2022-07-30 07:59] stevesobol commented on #91
I have CircleCI successfully building the project under all three LTS versions of OpenJDK.

[2022-07-30 08:00] stevesobol commented on #91
I've decided to use CircleCI because the free package they offer to OSS projects is a much better deal than the one you get from Github. I think we're good to go.

[2022-07-30 08:00] #91 closed

[2022-07-30 08:08] stevesobol opened #96 "Write unit tests"
We need unit tests. I'm not sure we have _no_ tests (and I'm too lazy to look), but at best, we don't have _enough_ tests.